@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body.page {
    background-color: #48455b;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: rgb(71, 60, 60);
    box-shadow: 0px 1px 5px;
}

.nav-logo p {
    color: white;
    font-size: 2.3rem;
    font-weight: 600;
}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style-type: none;
}

.nav i {
    display: none;
    font-size: 2rem;
    color: whitesmoke;
    transition: 0.5s;
}
.nav i:hover {
    color: rgb(200, 200, 200);
    cursor: pointer;
}
.nav.active i {
    transform: rotate(90deg);
}

.nav-menu ul li .link {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 15px;
    margin: 0 25px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-close {
    display: block;
    position: fixed;
    color: whitesmoke;
    font-size: 2rem;
    font-weight: bold;
    right: -30px;
    z-index: 2;
    line-height: normal;
    transition: 0.5s ease-in-out;
}
.nav-close:hover,
.nav-close:focus {
    color: rgb(200, 200, 200);
    text-decoration: none;
    cursor: pointer;
}

.btn {
    width: 15vw;
    max-width: 120px;
    min-width: 100px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.7);
}

#registerBtn, #signout-btn{
    margin-left: 15px;
    font-weight: bold;
}

.top-section {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #32322f;
    padding: 10px;
}

.video-container {
    position: relative;
    overflow: hidden;
    background: #333;
}

.transparent-video {
    width: 100vw;
    height: auto;
    object-fit: fill;
    z-index: -1;
    display: block;
    opacity: 0.8;
}


.text-overlay {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
    margin-bottom: 0;
}
#apply-btn {
    margin-bottom: -50px;
    height: 70px;
    max-width: 175px;
    font-size: 18px;
    font-weight: bold;
}
.text-overlay h1 {
    font-size: 3.5em;
    margin: 5px;
}

.bottom1 {
    background: #413f4e;
    color: #fff;
    padding: 20px;
    padding-top: 10vh;
    
}
.bottom2 {
    background: #423236;
    color: #fff;
    padding: 20px;
    padding-top: 10vh;
    
}
.bottom3 {
    background: #524551;
    color: #fff;
    padding: 20px;
    padding-bottom: 1vh;
    
}
.bottom4{
    background:#413f4e;
    color: #fff;
    padding: 20px;
    padding-bottom: 1vh;
}
.bottom5{
    background:#413f4e;
    color: #fff;
    padding: 20px;
    padding-bottom: 15vh;
}
/* Who are we section of the website */
.what-is-vamp-header {
    margin-left: 17rem;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 1vh;
    margin-left: -90vh;
   
}
.paragraph-what-is-vamp {
    font-size: 1.9rem;
    margin-bottom: 30rem;
    text-align: center;
    margin-top: 7vh;
    margin-left: -90vh;

}
.image {
    width: 30vw;
    height: auto;
    margin-top: -115vh;
    margin-left: 110vh;
}
.samples-header {
    text-align: center;
    font-size: 4vh;
    
}
.image1 {
    margin-top: 5vh;
    margin-left: 20vh;
}

.image2 {
    margin-top: 5vh;
    margin-left: 25vh;
}
.looking-for-header {
    margin-top: 4vh;
    text-align: center;
    font-size: 4vh;
}
.paragraph-looking-for {
    margin-top: 1vh;
    text-align: center;
    font-size: 2.2rem;
}
.job-listings-header {
    margin-top: 8vh;
    text-align: center;
    font-size: 4vh;
}
.gallery{
    margin-top: -10vh;
    width: 1300px;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.gallery div img{
    margin-top: 0vh;
    width: 40vh;
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display:none;
}
.gallery-wrap{
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
#backBtn, #nextBtn{
    width: 50px;
    cursor: pointer;
    margin: 40px;
}

.gallery div img:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.why-apply-header{
    margin-top: 5vh;
    text-align: center;
    font-size: 4vh;
}
.climate-pledge {
    margin-top: 10vh;
    margin-left: 7.5vh;
    text-align: left;
    font-size: 2.9vh;
}
.climate-pledge h1{
    margin-left: 16vh;
}
.climate-pledge p{
    margin-top: 1.5vh;
}
.employee-benefits {
    margin-top: -25vh;
    margin-right: 7.5vh;
    text-align: right;
    font-size: 2.9vh;
    
}
.employee-benefits h1 {
    margin-right: 12vh;
}
.employee-benefits p{
    margin-top: 1.5vh;
}
.career-growth {
    margin-top: 10vh;
    margin-right: 11vh;
    text-align: right;
    font-size: 2.9vh;
}
.career-growth h1 {
    margin-right: 11vh;
}
.career-growth p{
    margin-top: 1.5vh;
}
.diverse-culture {
    margin-top: -21.1vh;
    margin-left: 11vh;
    text-align: left;
    font-size: 2.9vh;
}
.diverse-culture h1 {
    margin-left: 16vh;
}
.diverse-culture p{
    margin-top: 1.5vh;
}
#eco{
    width: 50px;
    align-items: center;
    margin-left: 2vh;

}  
#earth{
    width: 60px;
    align-items: center;
    margin-left: 2vh;

}  
#rocket{
    width: 60px;
    align-items: center;
    margin-left: 2vh;

}  

.text-overlay2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3vh;
   
}

.admin h1, .wrapper h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 3rem;
    color: #ebe3e3;
}

#apply-sect h1 {
    text-align: center;
    font-size: 3rem;
}

.wrapper, .admin {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    max-width: 80%;
    margin: 30px auto 10vh;
}

.accordion-heading {
    background-color: rgb(220, 220, 220);
    color: black;
    cursor: pointer;
    font-size: 2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
}

.accordion-heading i {
    font-size: 1.8rem;
    transition: 0.6s;
}

.accordion-heading.active i {
    transform: rotate(180deg);
}

.accordion-heading:hover {
    background-color: #c6c6c6;
}

.accordion.active .accordion-content {
    border-top: 1.5px solid gray;
}

.accordion-content {
    padding: 0 4vw;
    background-color: rgb(220, 220, 220);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border: none;
}
.accordion-content p {
    color: black;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 2vh 0;
}
.admin .accordion-content p {
    padding: 0 0 2vh;
}
.accordion{
    border: 3px solid black;
    margin: 10px 0;
}

.accordion-content .btn {
    background-color: darkgray;
    color: #fff;
    height: 6rem;
    width: 35%;
    font-size: 1.3rem;
}

.accordion-content :is(a) {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}
.apply1{
    background: #000000;
    color: #fff;
    padding: 20px;
    padding-top: 85vh; 
}
.Communications-Specialist {

}

.apply-vids {
    width: 100vw;
    height: auto;
    object-fit: fill;
    z-index: -1;
    display: block;
    opacity: 0.5;
}
.form-box {
    text-align: center;
    width: 90%;
    max-width: 450px;
    position: sticky;
    left: 50%;
    transform: translateX(-50%);
    padding: 5vh 8vh;
}
.divider {
    background: #000000;
    color: #fff;
    padding: 20px;
    padding-top: 35vh; 
}


.form-box h1 {
    font-size: 3.5rem;
    margin-bottom: 60px;
    position: relative;
    color: #fff;
}

.form-box h1::after {
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.form {
    height: 280px;
}

.form div {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.form div i {
    margin-left: 15px;
    color: #9999;
}

.form input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.form button {
    width: 50%;
    background: darkgrey;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.modal {
	display: none;
    position: fixed;
    z-index: 1;
    padding: 20vh 0 13vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.apply-modal {
    background-color: #fefefe;
    margin: auto;
    padding: 0 2vw 4vh;
    border: 1px solid #888;
    width: 80%;
}

.apply-modal h1 {
    text-align: center;
    font-size: 2rem;
    margin: 5vh 0;
}

.close {
    color: #aaaaaa;
    float: right;
    clear: right;
    font-size: 3rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.apply-modal button {
    width: 25%;
    background: darkgrey;
    color: #fff;
    height: 45px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 5vh auto 0;
    font-size: 0.8em;
}
.apply-modal form [type=text] {
	display: block;
	outline: none;
	border: 1px solid #ccc;
	padding: 5px 8px;
	margin: 1vh 0 3vh;
	font-size: 0.7em;
    width: 15vw;
}

.apply-form {
    margin-left: 3vw;
    font-size: 1.3rem;
}

.apply-form div {
    display: inline-block;
    margin-right: 10%;
}
.apply-form div:has(textarea) {
	display: block;
}
.apply-form div textarea[type=text] {
	resize: vertical;
	width: 100%;
}
#address, #availability {
	width: 25vw;
}

#email,
#phone-number {
    width: 20vw;
}

footer {
    margin-top: auto;
    background: #111;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 450px;
    margin: 10px auto;
    line-height: 10px;
    font-size: 14px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
}

.socials a i {
    font-size: 1.1rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua
}

.footer-bottom {
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.section-divider {
    width: 50%;
    height: 2px;
    background-color: white;
    margin: 100px auto;
    display: block;
}
main:has(.admin) {
    margin-bottom: 15vh;
}
.source {
    text-align: center;
    font-size: 0.6rem;
    margin-bottom: 50px;
}