@media only screen and (max-width : 800px) {
    
    .nav {
        border-bottom: 0;
    }
    .nav-logo {
        transform: translateX(-50%);
    }
    .nav i {
        display: block;
        line-height: 100px;
    }
    .nav-menu {
        display: contents;
    }
    .nav-menu ul {
        max-width: 0;
        position: fixed;
        display: block;
        top: 0px;
        right: 0px;
        background: rgb(71, 60, 60);
        height: 100vh;
        width: 28vw;
        text-align: center;
        padding-top: 15px;
        --before-left: 0;
        --before-color: rgba(0, 0, 0, 0);
        --before-time: 0.7s;
        transition: 0.5s ease-in-out;
        box-shadow: -2px 0 5px;
    }
    .nav-menu ul::before {
        content: '';
        position: absolute;
        display: block;
        top: -15px;
        height: 100vh;
        width: 72vw;
        left: var(--before-left);
        background-color: var(--before-color);
        transition: background-color var(--before-time) ease-in-out, left 0.5s ease-in-out;
    }
    .nav-menu li {
        display: block;
    }
    .nav-button {
        max-width: 0;
        position: fixed;
        display: block;
        top: 330px;
        right: 0px;
        width: 28vw;
        transition: 0.5s ease-in-out;
    }
    .nav-button .btn {
        margin: 0 auto;
    }
    .nav-button a {
        text-decoration: none;
    }
    #registerBtn, #signout-btn {
        margin: 3vh auto;
    }

    .main-desc img {
        margin-top: 20%;
    }

    .subheadings {
        display: block;
    }
    .subheading {
        margin: 0 auto;
        width: 80%;
        margin-top: 3vh;
    }

    .section-divider {
        margin: 10vh auto;
    }

}