* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 10vh;
}
h2 {
    font-size: 8vh;
}
h3 {
    font-size: 6vh;
}
p {
    font-size: 4vh;
}

.header {
    width: 100%;
    height: 12vh;
    padding: 0 8%;
    background-color: #333333; /* Dark Gray */
    position: sticky;
    top: 0;
    z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}

a {
    text-decoration: none;
    color: #EAEAEA; /* Light Gray */
    font-size: 22px;
}

.logo {
    color: #EAEAEA; /* Light Gray */
    font-size: 3rem;
    font-weight: bold;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8f8f74;
}
.top-text {
    margin-left: 5vw;
}
.top-image {
    height: 88vh;
    width: auto;
}


.main-desc {
    margin: 75px auto;
    text-align: center;
}
.main-desc h1 {
    margin-bottom: 40px;
}


.job-desc {
    max-width: 1250px;
    margin: 20px auto;
}
.job-desc h1 {
    text-align: center;
    margin-bottom: 40px;
}
.accordion {
    margin-bottom: 30px;
}
.accordion.active .accordion-content {
    display: block;
}
.accordion-heading {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.accordion-content {
    padding: 0 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.wrapper {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.wrapper{
    max-width: 75%;
    margin: auto;

}

.wrapper > h1 {
    margin: 1.2rem 0;
    text-align: center;
}
.wrapper > h1 {
    letter-spacing: 3px;
}

.accordion {
    background-color:white;
    color:black;
    cursor: pointer;
    font-size:1.9rem;
    width:100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition:0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}
.accordion i{
    font-size: 1.8rem;

}

.active,
.accordion:hover {
    background-color: #f1f7f5;
 
}
.pannel {
    padding:0 2rem 2.5rem 2rem;
    background-color: white;
    overflow: hidden;
    background-color: #f1f7f5;
    display: none;
}
.pannel p{
    color: black;
    font-size: 1.2rem;
    line-height: 1.4;
}

.faq{
    border: 1px solid rgba(0,0,0,0.15);
    margin: 10px 0;
}
.faq.active {
    border: none;
}
